*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-size: 20px;
}
body{
    padding: 40px;
    background-color: black;
    color: white;

}
input{
    padding: 5px;
    border-radius: 5px;
    border-color: blue;
}
input[type='checkbox'] {
    transform: scale(1.5);
  }
.main{
    margin: 5% 30%;
}