* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.header {
    padding: 0 4.8rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4ca8e9;
  }

.navbar-list {
    display: flex;
    list-style: none;
    gap: 2.8rem;
}

.logo h1 {
    color: rgb(17, 1, 37);
    padding: 0px 15px;
    font-style: italic;
    background-color: white;
    border-radius: 5px;
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-transform: uppercase;
    /* font-weight: 500; */
}

a{
    text-decoration: none;
}

.navbar-link:active{
    background-color: rgb(253, 253, 252);
}

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}

.icon1,
.icon2{
    font-size: 25px;
}

#icon2{
    display: none;
}

@media(max-width:980px){
    .mobile-navbar-btn{
        display: block;
        border: 2px solid black;
        z-index: 999;
        padding: 5px
        
    }
    .navbar {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #e7f5ff;
        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        /* to get the tranisition  */
        transform: translateX(100%);
        transition: all 0.5s linear;
    
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    
      .navbar-list {
        flex-direction: column;
        align-items: center;
      }
    
      .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      } 
    .active .mobile-navbar-btn #icon2{
            display: block;
    }
    .active .mobile-navbar-btn #icon1{
            display: none;
    }
}