
body {
    background-color: rgb(10, 9, 9);
    color: white;
    padding: 10px;
}

ul {
    list-style-type: decimal;
}

.btnRemove {
    background-color: rgb(128, 128, 219);
    border: none;
    border-radius: 5px;
    padding: 4px;
    margin: 1px 92px;
}

.edit {
    background-color: rgb(128, 128, 219);
    border: none;
    border-radius: 5px;
    padding: 4px;
    margin: 9px;
}
.ok{
    background-color: rgb(128, 128, 219);
    border: none;
    border-radius: 5px;
    padding: 4px;
    margin: 9px;
}
input{
    padding: 5px;
    border-radius: 5px;
}
#btnsub{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: blueviolet;
    color: white;
}