*{
    margin: 0;
    padding:0;
}
body{
    font-family: cursive;
}
header{
    background-color: green;
    color: white;
    padding: 15px 0px 20px 40px ;    
}
h1{
    padding: 10px 0px;
}
div{
    padding: 15px 0px 0px 45px;
}
div > h4{
    border-bottom: 2px solid blue;
    padding:0px 20px 10px 5px;
    display:inline-block;
    width:50%;

}
li.list-item{
    border-bottom:1px solid gray;
    padding :10px 0px;
}
form{
    padding-top: 20px;
}
form > input,button{
    padding:5px;
}