* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 1, 19);
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
}
.input{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
}
.buttons button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 5px;
}
.medicineForm{
    height: auto;
    width: 400px;
    border: 2px solid rgb(209, 209, 220);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    display: none;
    background-color: rgb(1, 1, 19);
}
.expaireDate{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
    padding: 10px 0;
}
.none{
    display: none;
}
.Submitbutton button{
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 5px ;
}
#betNum{
    color: white;
}
#notification {
    position: fixed;
    /* top: 200px; */
    bottom: 10px;
    right: -300px;
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    border-radius: 5px;
    transition: right 0.5s ease-in-out;
}
#notification.show {
    right: 20px;
}
table{
    border-collapse: collapse;
    width: 100%; 
    text-align: center; 
}
th {
    background-color: blue;
    color: white;
}

th {
    border: 1px solid rgb(243, 243, 243);
    padding: 8px;
}
tr,td {
    border: 1px solid rgb(255, 255, 255);
}
#cancel{
    position: absolute;
    right: 0%;
    bottom:1%;
}
.delet{
    background-color: red;
    margin: 2px 10px;
    padding: 6px;
    border-radius: 5px;
    border: none;
}
.edit{
    background-color: blue;
    padding: 6px;
    border-radius: 5px;
    border: none;
}
.addmedicinetable{
    height: 200px;
}
#record{
    height: auto;
    width: 400px;
    border: 2px solid rgb(209, 209, 220);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    background-color: rgb(1, 1, 19);
    display: none;
}
.btn{
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 5px ;
}
ul{
    background-color: blue;
    position: absolute;
    list-style: none;
    height: 100px;
    width: 90%;
    top: 35%;
    left: 4%;
    opacity: 0.9;
    /* border: 3px solid black; */
    border-radius: 4px;

}
.table2{
    height: 200px;
}
#newOutForm{
        height: auto;
        width: 400px;
        border: 2px solid rgb(209, 209, 220);
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        background-color: rgb(1, 1, 19);
        display: none;
}